@model EntityLayer.Concreate.WriterMessage
@{
    ViewData["Title"] = "AdminMessageSend";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AdminMessageSend", "AdminMessage", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">new Message Pannel</h4>
                <form class="forms-sample">
                    @Html.Label("subject")
                    @Html.TextBoxFor(x=>x.Subject,new {@class="form-control"})
                   
                    <br />
                    @Html.Label("reciever")
                    @Html.TextBoxFor(x=>x.Reciever,new {@class="form-control"})
             
                    <br />
                    @Html.Label("message")
                    @Html.TextAreaFor(x=>x.MessageContent,6,3,new {@class="form-control"})
                    
                    <br />
              
                    <button class="btn btn-outline-success">Send</button>
                    <button class="btn btn-outline-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>


}


