@model EntityLayer.Concreate.WriterMessage
@{
    ViewData["Title"] = "AdminMessageDetail";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">message details page</h4>
            <form class="forms-sample">
                @Html.HiddenFor(x=>x.WriterMessageId)
                @Html.Label("subject")
                @Html.TextBoxFor(x=>x.Subject,new {@class="form-control"})
                <br />
                @Html.Label("Date")
                @Html.TextBoxFor(x=>x.Date,new {@class="form-control"})
                <br />
                @Html.Label("Sender Name")
                @Html.TextBoxFor(x=>x.SenderName,new {@class="form-control"})
                <br />
                @Html.Label("Reciever name")
                @Html.TextBoxFor(x=>x.RecieverName,new {@class="form-control"})
                <br />
                @Html.Label("Message")
                @Html.TextAreaFor(x=>x.MessageContent,6,3,new {@class="form-control"})
                <br />
                <a asp-action="RecieverMessageList" class="btn btn-outline-primary mr-2">Admin Reciever Message</a>
                <a asp-action="SenderMessageList" class="btn btn-outline-warning mr-2">Admin Sender Message</a>
            </form>
        </div>
    </div>
</div>


