@model EntityLayer.Concreate.About
@{
    ViewData["Title"] = "AboutUpdate";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AboutUpdate", "About", FormMethod.Post))
{

    @Html.HiddenFor(x=>x.AboutID)
    @Html.Label("Title")
    @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
    <br />
    @Html.Label("Age")
    @Html.TextBoxFor(x=>x.Age,new {@class="form-control"})
    <br />
    @Html.Label("Phone")
    @Html.TextBoxFor(x=>x.Phone,new {@class="form-control"})
    <br />
    @Html.Label("Adress")
    @Html.TextBoxFor(x=>x.Adress,new {@class="form-control"})
    <br />
    @Html.Label("Mail")
    @Html.TextBoxFor(x=>x.Mail,new {@class="form-control"})
    <br />
    @Html.Label("Image url")
    @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x=>x.Description,3,10,new {@class="form-control"})
    <br />
    <button class="btn btn-outline-success">update</button>
}

