@model EntityLayer.Concreate.WriterMessage
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Send New Message</h1>

<br />
<form class="form-group" method="post">
    @Html.Label("Sender Mail")
    @Html.TextBoxFor(x=>x.Reciever,new {@class="form-control"})
    <br />
    @Html.Label("Subject")
    @Html.TextBoxFor(x=>x.Subject,new {@class="form-control"})
    <br />
    @Html.Label("Message Content")
    @Html.TextAreaFor(x=>x.MessageContent,10,3,new {@class="form-control"})
    <button class="btn btn-outline-primary">send</button>
</form>

