@model List<EntityLayer.Concreate.Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">skill list</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">title</th>
                <th scope="col" class="sort" data-sort="status">value</th>
                <th scope="col" class="sort" data-sort="status"></th>
                <th scope="col" class="sort" data-sort="status"></th>

            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>

                    <th>
                        @item.SkilID
                    </th>
                    <td class="budget">
                        @item.Title
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="completion mr-2">@item.Value %</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a asp-controller="Skill" asp-action="SkillDelete" asp-route-id="@item.SkilID" class="btn btn-outline-danger">delete</a></td>
                    <td><a asp-controller="Skill" asp-action="SkillUpdate" class="btn btn-outline-warning">update</a></td>

                 
                </tr>

            }
         

        </tbody>
    </table>
    <a asp-controller="Skill" asp-action="SkillAdd" class="btn btn-success">new skill</a>
</div>
