@model EntityLayer.Concreate.Skill
@{
    ViewData["Title"] = "SkillUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>SkillUpdate</h1>
<br /><br /><br /><br />
@using (Html.BeginForm("SkillUpdate","Skill",FormMethod.Post))
{
    @Html.HiddenFor(x=>x.SkilID)<br />
    @Html.Label("Skill title")
    @Html.TextBoxFor(x=>x.Title, new {@class="form-control"})<br /><br />
    @Html.Label("Skill Value")
    @Html.TextBoxFor(x=>x.Value,new {@class="form-control"})<br /><br />
   <button class="btn btn-success">save</button>


}

